@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.justify-items-left {
  justify-items: left;
}

.justify-items-right {
  justify-items: right;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 1rem 6.5rem;
  z-index: 200;
  background-color: #222;
}
.nav img {
  height: 4rem;
}
.nav li {
  padding-right: 2rem;
}
.nav li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
}
.nav li a:hover {
  color: #ee3436;
  cursor: pointer;
}

.social-icon {
  margin-top: 0.5rem;
}
.social-icon span {
  padding-right: 0.5rem;
}
.social-icon span:first-child {
  padding-bottom: 1rem;
}
.social-icon svg:hover {
  fill: #ee3436 !important;
  cursor: pointer;
}

#bar {
  display: none;
}

.background-image {
  background-image: url(../assets/images/banner2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.overlay {
  background-color: #171819;
  width: 100%;
  height: 100%;
  opacity: 0.87;
}

.showcase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.showcase p {
  color: #c5cfcf;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}
.showcase h2 {
  font-size: 3rem;
  color: #fff;
}

.btn-group {
  margin-top: 2rem;
}
.btn-group .btn {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
  border-radius: 1px;
  font-size: 1.1rem;
}
.btn-group .btn span {
  margin-right: 0.5rem;
}
.btn-group .btn-outline {
  color: #fff;
  background: transparent;
  border: 1px solid #ee3436;
}
.btn-group .btn-outline:hover {
  background-color: #ee3436;
  transition: all 0.5s;
}
.btn-group .btn-green {
  padding-right: 2rem;
  color: #08b05f;
  border: 1px solid #08b05f;
}
.btn-group .btn-green:hover {
  color: #fff;
  background-color: #08b05f;
  transition: all 0.3s;
}
.btn-group .btn-green:hover svg {
  fill: #fff !important;
}

.details {
  width: 100%;
  padding: 6rem;
  background-color: #171819;
}
.details h3,
.details h6,
.details p {
  color: #fff;
}
.details .details-child-1 {
  width: 50%;
  padding-left: 2rem;
  text-align: end;
}
.details .details-child-1 h3 {
  font-size: 2rem;
  padding-bottom: 1.1rem;
}
.details .details-child-1 h6 {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1.1rem;
}
.details .details-child-1 p {
  color: #d7ebeb;
  padding-bottom: 3rem;
}
.details .details-child-1 a {
  text-align: center;
  color: #fff;
  background-color: #ee3436;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 500;
}
.details .details-child-1 a:hover {
  color: #ee3436;
  background-color: #fff;
}
.details .details-child-2 {
  width: 50%;
  border-right: 1px solid #666262;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em 4em;
  align-items: stretch;
}
.details h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-section {
  padding-bottom: 2rem;
  background-color: #d4cccc;
}

.product-content {
  padding: 4rem 8rem 0rem 8rem;
}
.product-content .product-title {
  border-bottom: 2px solid #08b05f;
  margin-bottom: 0rem;
  font-weight: 700;
  color: #222;
  font-size: 1.7rem;
}
.product-content p {
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 0rem;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 4rem;
}
.card-group .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  width: 100%;
  height: auto;
  background-color: #666262;
  box-shadow: 6.7px 6.7px 21px rgba(0, 0, 0, 0.2), 22.3px 22.3px 70.6px rgba(0, 0, 0, 0.121), 100px 100px 316px rgba(0, 0, 0, 0.083);
}
.card-group .card img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.card-group .card-content {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.card-button {
  text-align: center;
  margin: 2rem;
  padding: 1.5rem;
}
.card-button a {
  color: #fff;
  background-color: #ee3436;
  padding: 2rem;
  font-weight: 600;
}
.card-button a:hover {
  background-color: #666262;
}

.query {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 4rem;
  width: 45%;
  margin-top: 1.2rem;
}
.query .form {
  display: flex;
  flex-direction: column;
}
.query .form input,
.query .form textarea {
  padding: 15px;
  border: 1px solid #95a5a6;
  outline: none;
  margin: 13px 0;
  color: #7f8c8d;
  font-size: 1.1rem;
}
.query .form input:focus,
.query .form textarea:focus {
  border: 1px solid #111;
}
.query h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  width: 100%;
}
.query a {
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  background-color: #111;
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.map {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 4rem;
  width: 45%;
}
.map h2 {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2.99rem;
}
.map p {
  margin-top: -2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}
.map iframe {
  width: 100%;
}
.map svg {
  margin-top: 1rem;
}

.line {
  width: 2px;
  height: 30rem;
  background-color: #08b05f;
}

.footer {
  padding: 2rem 4rem;
  background-color: #353434;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer svg {
  margin-right: 0.5rem;
}

@media (min-width: 576px) {
  .card-group {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .details .details-child-2 {
    grid-template-columns: 1fr;
  }

  .nav {
    padding: 1rem 1rem;
  }
  .nav li {
    padding-right: 0.7rem;
  }
  .nav li a {
    font-size: 0.5rem;
  }

  .footer {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }
  .footer a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1300px) {
  .nav {
    padding: 1rem 4.5rem;
  }
  .nav li {
    padding-right: 1rem;
  }
  .nav li a {
    font-size: 0.7rem;
  }
}
@media (max-width: 993px) {
  #bar {
    font-size: 3rem;
    display: initial;
    cursor: pointer;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 80vh;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
    margin-top: 6.4rem;
    font-size: 3rem;
    transition: all 0.5s;
  }
  .nav li {
    padding: 4px 0;
    font-size: 1.2rem;
  }

  .showcase p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
  .showcase h2 {
    font-size: 2.5rem;
  }

  .btn-group {
    margin-top: 1.5rem;
  }
  .btn-group .btn {
    padding: 0.7rem 1.4rem;
    font-size: 0.9rem;
  }
  .btn-group .btn span {
    margin-right: 0.5rem;
  }
  .btn-group .btn-outline {
    margin-bottom: 2rem;
  }

  .details {
    width: 100%;
    padding: 4rem;
  }
  .details .details-child-1 {
    width: 45%;
    padding-left: 2rem;
    text-align: end;
  }
  .details .details-child-1 h3 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .details .details-child-1 h6 {
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .details .details-child-1 p {
    padding-bottom: 2.8rem;
  }
  .details .details-child-1 a {
    padding: 0.8rem 0;
  }
  .details .details-child-2 {
    width: 55%;
    padding-right: 3rem;
    gap: 2em 3.5em;
  }
  .details h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .product-section {
    padding-bottom: 1.5rem;
  }

  .product-content {
    padding: 4rem 7.5rem 2rem 7.5rem;
  }
  .product-content .product-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .product-content p {
    font-size: 1rem;
    padding-bottom: 0.8rem;
  }

  .card-group {
    padding: 3.5rem;
  }
  .card-group .card {
    width: 90%;
    height: auto;
  }

  .card-button a {
    padding: 0.9rem 1.5rem;
  }

  .query {
    padding: 2rem 2rem;
    margin-top: 1rem;
  }
  .query .form input,
.query .form textarea {
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
  }
  .query h2 {
    font-size: 1.8rem;
  }
  .query a {
    font-size: 1rem;
  }

  .map {
    padding: 2rem 2rem;
    width: 48%;
  }
  .map h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .map p {
    margin-top: -2rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .showcase p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .showcase h2 {
    font-size: 2rem;
  }

  .details {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }
  .details .details-child-1 {
    width: 72%;
    padding: 2rem 0rem;
    text-align: start;
  }
  .details .details-child-2 {
    width: 70%;
    padding-bottom: 3rem;
    border-right: none;
    border-bottom: 5px solid #666262;
    gap: 2em 3.5em;
  }
  .details h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .product-section {
    padding-bottom: 0rem;
  }

  .product-content {
    padding: 4rem 7.5rem 0rem 7.5rem;
  }

  .card-group {
    padding: 2rem 8rem;
  }

  .query-section {
    flex-direction: column;
  }

  .query {
    padding: 2rem;
    width: 70%;
  }

  .map {
    padding: 2rem;
    width: 70%;
  }

  .line {
    width: 15rem;
    height: 2px;
  }

  .footer {
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .footer p {
    margin-top: 0.5rem;
  }
}