$primary-color: #ee6352;
$youtube: #cad16e;
$articles: #ffac83;
$community: #3f78c9;
$courses: #49c4a3;
$white: #fff;
$black: #444a51;
$topNavBackground: #eee;
$topNavLink: #000;
$topNavLinkHover: #ddd;
$topNavButton: #d8d8d8;
$topNavButtonHover: #b3b3b3;

$lighten: 5;
$darken: 25;

$colors: (
  primary: (
    base: $primary-color,
    light: lighten($primary-color, $lighten),
    dark: darken($primary-color, $darken),
  ),
  yt: (
    base: $youtube,
    light: lighten($youtube, $lighten),
    dark: darken($youtube, $darken),
  ),
  articles: (
    base: $articles,
    light: lighten($articles, $lighten),
    dark: darken($articles, $darken),
  ),
  com: (
    base: $community,
    light: lighten($community, $lighten),
    dark: darken($community, $darken),
  ),
  course: (
    base: $courses,
    light: lighten($courses, $lighten),
    dark: darken($courses, $darken),
  ),
  neutral: (
    base: #69777f,
    light: #b2cad8,
    dark: $black,
  ),
  topNavBackground: (
    base: #70b9a6,
    light: lighten(#70b9a6, $lighten),
    dark: darken(#70b9a6, $darken),
  ),
  topNavLink: (
    base: #000,
    light: lighten(#000, $lighten),
    dark: darken(#000, $darken),
  ),
  topNavLinkHover: (
    base: #ddd,
    light: lighten(#ddd, $lighten),
    dark: darken(#ddd, $darken),
  ),
  topNavButton: (
    base: #d8d8d8,
    light: lighten(#d8d8d8, $lighten),
    dark: darken(#d8d8d8, $darken),
  ),
  topNavButtonHover: (
    base: #b3b3b3,
    light: lighten(#b3b3b3, $lighten),
    dark: darken(#b3b3b3, $darken),
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}
